[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bspline"]
	path = bspline
	url = https://github.com/mathscell/bspline
[submodule "nlsic"]
	path = nlsic
	url = https://github.com/mathscell/nlsic
